@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&display=swap');
.root {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
body,
html {
  font-family: 'Kameron', serif;
  scroll-behavior: smooth;
}

.todo {
  background: url('./assets/bg/banner.png') no-repeat center / cover;
}

.swiper-pagination-bullet-active {
  background: #20478c;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #20478c;
}

.myClass {
  width: calc(100% - 40px);
  padding-right: 61px;
}
#our_properties {
  scroll-padding-top: 60px; /* Adjust this value as needed */
}
